# ============================================================
# Eye Blink Detection - .gitignore 
# ============================================================

# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg
venv/
env/
.venv/

# --- IDE & OS ---
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
desktop.ini

# --- Data & Dataset ---
# Chặn các file zip và dữ liệu thô/đã xử lý
*.zip
dataset/
dataset_master/
processed_image/*.npy
data/

# --- Trained Models (Binary files) ---
models/*.pkl
models/*.keras
models/*.h5
models/*.dat
models/*.png
blink_model.pkl

# --- DVC (Data Version Control) ---
.dvc/
.dvcignore



# --- Logs, Temp & Jupyter ---
*.log
*.tmp
.ipynb_checkpoints/
/processed_image
